alembic
asyncpg
bcrypt==4.0.1
celery
chromadb
fastapi
google-genai
minio
passlib
psycopg2-binary
pydantic
pydantic[email]
pydantic-settings
pyjwt
pypdf
python-jose[cryptography]
python-multipart
redis
scikit-learn
sentence-transformers
sqlalchemy
uvicorn[standard]